.container {
  width: 80%;
  margin: 0 auto;
}
header {
  background: #900c3f;
}

header::after {
  content: "";
  display: table;
  clear: both;
}
nav {
  text-align: center;
  font-size: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
}

nav a {
  color: black;
}

.logo {
  float: left;
  width: 240px;
  height: 80px;
}
